
:root{
    /* COLORS */
    /* FONT SIZES */
    
    /* FONT WEIGHTS */
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
}
.leftBlock{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
}
.h2{
    font-size: 1.7rem;
}
.p{
    margin-top: 0.7em;
    font-weight: 500;
}
.a{
    text-decoration: none;
    color: rgba(243, 120, 91, 1);
    font-weight: 700;
}
.intro{
    width: 90%;
    max-width: 450px;
}
.form{
    width: 90%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 1.7em;
}
.formElement{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
}
.formElement label{
    color: rgba(106, 106, 106, 1);
    font-weight: 600;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.formElement input{
    width: 100%;
    font-weight: 600;
    padding: 1em;
    border: 1px solid #ABABAB;
    border-radius: 0.6rem;
}
.error{
    color: rgba(250, 10, 10, 0.945);
    font-size: 1rem;
    font-weight: 600;
}
.formElement input.errorField{
    border-color: rgba(250, 10, 10, 0.945);
}
.formElement input:focus{
    outline: none;
}
.formActions button{
    background: #F3785B;
    border: 3px solid #EDEDED;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 100%;
    margin-top: 0.5em;
    max-width: 120px;
    color: white;
    padding: 1em;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font-weight: 600;
}
@media (hover: hover) {
    .formActions button:hover {
        opacity: 0.8;
    }
}
.formActions button:focus{
    outline: none;
}
.formElement input::placeholder{
    color:rgba(122, 122, 122, 1);
    font-weight: 500;
}
.label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
label span{
    color: red;
    font-size: 0.8rem;
}
.networkErr{
    color: red;
    text-align: center;
    margin-top: 2em;
    position: absolute;
}