.techAbout{
    width: 90%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 31% 31% 31% ;
    margin:12em auto 0 auto;
    justify-content: space-between;
}
.partnersList{
    width: 90%;
    max-width: 1100px;
    margin: 3em auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.partners h2{
    text-align: center;
    margin-top: 5em;
}
@media screen and (max-width:700px) {
    .techAbout{
        display: flex;
        flex-direction: column;
        justify-content: unset;
        gap:2rem;
        grid-template-columns: unset;
        margin-top: 25em;
    }
}
@media screen and (max-width:600px) {
    .techAbout{
        margin-top: 30em;
    }   
}
@media screen and (max-width:450px) {
    .techAbout{
        margin-top: 35em;
    }
}
@media screen and (max-width:350px) {
    .techAbout{
        margin-top:40em ;
    }
}
@media screen  and (max-width:300px){
    .techAbout{
        margin-top: 45em;
    }
}