.leftBlock{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.h2{
    font-size: 1.7rem;
}
.p{
    margin-top: 0.7em;
    font-weight: 500;
}
.a{
    text-decoration: none;
    color: rgba(243, 120, 91, 1);
    font-weight: 700;
}
.form{
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}
.formBlock{
    display: grid;
    grid-template-columns: 55% 38%;
    gap: 7%;
    align-items: center;
}
.formElement{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
}
.formElement label{
    color: rgba(106, 106, 106, 1);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.formElement input, .formElement select{
    width: 100%;
    font-weight: 600;
    padding: 0.7em;
    border: 1px solid #ABABAB;
    border-radius: 0.6rem;
}
.formElement input:focus, .formElement select:focus{
    outline: none;
}
.formActions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
}
.formActions button{
    background: #F3785B;
    border: 3px solid #EDEDED;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 100%;
    margin-top: 0.5em;
    max-width: 170px;
    color: white;
    padding: 1em;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font-weight: 600;
}
.formActions button:hover{
    opacity: 0.8;
}
.formElement input::placeholder{
    color:rgba(122, 122, 122, 1);
    font-weight: 500;
}
.formElement select{
    font-weight: 500;
    color:rgba(122, 122, 122, 1);
}
.choiceBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.error, .mailError{
    color: rgba(250, 10, 10, 0.945);
    font-size: 1rem;
    font-weight: 600;
}
.mailError{
    font-size: 0.8rem;
}
.formElement label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
input.errorField{
    border-color: rgba(250, 10, 10, 0.945);
}