.choiceTxt{
    font-size: 0.75rem;
    font-weight: 600;
}
.myChoice{
    background: rgba(91, 86, 166, 0.1);
    border-radius: 12px;
    width: 100%;
    max-width: 200px;
    padding: 0.5em 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}